<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div th:insert="~{menu::#nav-menu}"></div>
<form th:method="POST" th:action="@{/update}" th:object="${gameDTO}">
    <label for="gameDate">Enter date: </label>
    <input type="date"  th:value="game." th:field="*{gameDate}" id="gameDate" required/>
    <br/>
    <label for="firstTeam">Enter firstTeam: </label>
    <input type="text" th:field="*{firstTeam}" id="firstTeam" required/>
    <br/>
    <label for="secondTeam">Enter secondTeam: </label>
    <input type="text" th:field="*{secondTeam}" id="secondTeam" required/>
    <br/>
    <label for="winner">Enter winner: </label>
    <input type="text" th:field="*{winner}" id="winner"/>
    <br/>
    <input type="hidden" id="id" name="id" th:value="${game.id}">
    <input type="submit" value="Add!"/>
</form>
</form>
</body>
</html>